/*

Add styles or override variables from the theme here.

*/

$primary: rgb(243, 112, 33);
$secondary: #A23B72;

$enable-shadows: true;
$google_font_name: "Ek Mukta";
$google_font_family: "Ek+Mukta,sans-serif";
