@import "reset.css";

:root {
  --body: #222222;
  --lightOrange: #f37021;
  --darkOrange: #c95812;
  --kentikOrange: #e0541f;
  --gray: #f0f0f0;
  --muted: #5c707f;
  --blue: #0095c3;
  --green: #D0F7CA;
  --yellow: #fce32e;
  --magenta: #ba1e60;
  --gridSize: 8;
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --serif-font-family: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --mono-font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo,
    Courier, monospace;
}

html,
body {
  height: 100%;
}

body {
  background-color: #ffffff;
  color: var(--body);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  letter-spacing: -0.15px;
}

.wrapper {
  flex: 1 0 auto;
}

/* max width container used to constrain content */
.container {
  max-width: 900px;
  margin: 0px auto;
  padding: 0 24px;
}

section {
  padding: 40px;
}

section.bg-green {
  background-color: var(--green);
}

section.bg-gray {
  background-color: var(--gray);
}

section.home h1 {
  font-size: 32px;
}

section.hero h1 {
  font-size: 40px;
  padding-top: 40px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin-bottom: 32px;
  margin-top: 32px;
}

header .container {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 24px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0px 12px;
}

nav li a {
  text-decoration: none;
  color: var(--body);
  font-weight: 700;
}

nav li a:after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--kentikOrange);
  transition: width 0.3s;
}

nav li a:hover::after {
  width: 100%;
}

.logo {
  width: 200px;
}

footer {
  flex-shrink: 0;
  background-color: var(--magenta);
  color: #ffffff;
  padding: 50px 0;
}

footer a {
  color: rgba(255, 255, 255, 0.7);
}

/* articles on the listings screen have some margin */
main.listing article {
  margin-bottom: 32px;
}

article .highlight {
  font-size: 14px;
}

article .highlight pre {
  padding: 16px;
  border-radius: 16px;
}

article .meta {
  margin-bottom: 24px;
}

article.summary .meta {
  margin-bottom: 16px;
}

article .author {
  color: var(--muted);
}

article a {
  color: var(--lightOrange);
  text-decoration-color: var(--lightOrange);
  text-decoration-thickness: 1px;
  text-underline-offset: 0.5px;
}

article a:hover {
  color: var(--darkOrange);
}

article p {
  margin-bottom: 24px;
  line-height: 25px;
}

article h1 {
  font-size: 28px;
  font-weight: 800;
  letter-spacing: -0.45px;
}

article h2 {
  font-size: 22px;
  margin-bottom: 8px;
}

article h3 {
  font-size: 20px;
}

article.summary h3 {
  font-weight: 800;
}

article code {
  font-family: var(--mono-font-family);
  background-color: #f8f8f8;
}

article p code {
  font-size: 85%;
  padding: 2px 4px;
  border-radius: 4px;
  border: 1px solid #dadada;
}

article h3 a {
  color: var(--body);
  text-decoration-color: var(--lightOrange);
  text-decoration-thickness: 1px;
  text-underline-offset: 0.5px;
}

article h3 a:hover {
  color: var(--body);
  text-decoration-color: var(--green);
}

article time {
  color: var(--muted);
}

.text-center {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  grid-gap: 16px;
  grid-row-gap: 8px;
}

.grid.grid-cards {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 24px;
}

.card {
  background: #ffffff;
  padding: 24px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.project-card {
  display: flex;
  flex-direction: column;
  min-height: 250px;
}

.project-card .project-description {
  flex: 1;
}

.project-card h3 {
  color: var(--blue);
}

.github-button {
  background: #ffffff;
  border: 1px solid var(--kentikOrange);
  color: var(--kentikOrange);
  font-weight: 500;
  text-decoration: none;
  font-size: 14px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 3px 8px;
}

.network-observability-definition {
  font-size: 20px;
  font-family: var(--serif-font-family);
}

.network-observability-definition .bolder {
  font-weight: 700;
}

.network-observability-definition .n {
  font-style: italic;
  font-weight: 300;
}

.github-button:hover {
  background: var(--kentikOrange);
  color: #ffffff;
}

.github-logo {
  width: 24px;
  margin-right: 8px;
}

.card-icon {
  margin: 0px auto;
  width: 75px;
  margin-bottom: 16px;
}

.card h3 {
  font-weight: 500;
  margin-bottom: 8px;
}

.card p {
  font-size: 14px;
}

/* generalized font-weight stuff */
.font-weight-light {
  font-weight: 300;
}

.mb-1 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 16px;
}

.mb-3 {
  margin-bottom: 24px;
}

.mb-4 {
  margin-bottom: 32px;
}

/* generalized color classes */
.color-lightOrange {
  color: var(--lightOrange);
}
.color-darkOrange {
  color: var(--darkOrange);
}
.color-kentikOrange {
  color: var(--kentikOrange);
}
.color-muted {
  color: var(--muted);
}
.color-green {
  color: var(--green);
}
.color-yellow {
  color: var(--yellow);
}
.color-magenta {
  color: var(--magenta);
}
.color-blue {
  color: var(--blue);
}
