{{ define "main" }}
<section class="hero">
  <div class="container">
    <div class="grid">
      <h1 class="color-lightOrange font-weight-light">
        Open Source <br />
        Network Observability
      </h1>
      <img
        src="/images/kentik-labs-hero.svg"
        width="550"
        alt="Open Source Network Observability"
      />
    </div>
  </div>
</section>

<section class="home bg-gray network-observability-definition text-center">
  <span class="bolder"
    >net<span class="color-kentikOrange">•</span>work ob<span
      class="color-kentikOrange"
      >•</span
    >servʹa<span class="color-kentikOrange">•</span>bilʹi<span
      class="color-kentikOrange"
      >•</span
    >ty</span
  >
  <span class="n">(n)</span> 1. The ability to answer any question about your
  network.
</section>
<section class="home bg-green">
  <div class="container">
    <h1 class="font-weight-light mb-2 text-center">
      Observability is for the network, too
    </h1>
    <p class="mb-2 text-center">
      We have infrastructure we care about. If you’re reading this, we imagine
      you do, too. Infrastructure can’t exist without networks, and networks
      shouldn’t exist without observability. We launched Kentik Labs to help you
      learn about, share and integrate network observability into your
      full-stack observability efforts.
    </p>

    <div class="grid grid-cards">
      <div class="card">
        <img class="card-icon" src="/images/icon-educate.svg" />
        <h3 class="text-center">Learn</h3>
        <p>
          We aim to work alongside developers and SREs to level-up skills,
          democratize network observability and keep infrastructure running.
        </p>
      </div>
      <div class="card">
        <img class="card-icon" src="/images/icon-share.svg" />
        <h3 class="text-center">Share</h3>
        <p>
          Projects we open source are designed to help build an observability
          community who can be fearless in the face of performance and UX
          issues.
        </p>
      </div>
      <div class="card">
        <img class="card-icon" src="/images/icon-integrate.svg" />
        <h3 class="text-center">Integrate</h3>
        <p>
          We meet you where you are. We partner with tools you already use so
          that projects we share can be instantly integrated and helpful.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="home projects bg-gray">
  <div class="container">
    <h1 class="font-weight-light mb-4 text-center">Projects</h1>
    <div class="grid grid-cards mb-4">
      {{ range first 3 (where site.RegularPages "Section" "projects")  }}
        {{ .Render "li" }} 
      {{ end }}
    </div>

    <div class="grid grid-cards-alt mb-4">
      {{ range first 2 (after 3 (where site.RegularPages "Section" "projects")) }}
        {{ .Render "li" }} 
      {{ end }}
    </div>


    <p class="text-center">
      <a href="/projects" class="color-blue">See All Projects</a>
    </p>
  </div>
</section>
{{ end }}
