<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default " en-us " }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <meta property="og:url" content="http://www.nytimes.com/2015/02/19/arts/international/when-great-minds-dont-think-alike.html" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="When Great Minds Don’t Think Alike" />
    <meta property="og:description" content="How much does culture influence creative thinking?" />
    <meta property="og:image" content="http://static01.nyt.com/images/2015/02/19/arts/international/19iht-btnumbers19A/19iht-btnumbers19A-facebookJumbo-v2.jpg" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;700&display=swap" rel="stylesheet">

    <link rel="icon" href="{{"images/favicon.png" | relURL }}" sizes="any">

    {{/*  overrides the title from a layout if we want  */}}
    {{ block "title" . }}{{ end }} 

    <title>{{ .Title }}</title>

    {{ with .Site.Params.description }}
        <meta name="description" content="{{ . }}">
    {{ end }} 
    
    {{ with .Site.Params.author }}
        <meta name="author" content="{{ . }}">
    {{ end }}

    {{ block "meta" . }}{{ end }} 


    <link rel="stylesheet" href="{{"css/style.css" | relURL }}"> 
</head>

<body>
    <div class="wrapper">
        {{ partial "header" . }} 
        {{ block "main" . }}{{ end }} 
    </div>
    {{ partial "footer" . }}
</body>

</html>