<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default " en-us " }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:description" content="Kentik Labs is a community hub developed by the team at Kentik.com. At our core, we are the data-dreaming network nerds who built an observability platform that makes much of the internet go." />
    <meta property="og:image" content="{{"images/kentik-labs-og.png" | relURL }}" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;700&display=swap" rel="stylesheet">

    <link rel="icon" href="{{"images/favicon.png" | relURL }}" sizes="any">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BPL6GT6CRH"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-BPL6GT6CRH');
    </script>

    {{/*  overrides the title from a layout if we want  */}}
    {{ block "title" . }}{{ end }}

    <title>{{ .Title }}</title>

    {{ with .Site.Params.description }}
        <meta name="description" content="{{ . }}">
    {{ end }}

    {{ with .Site.Params.author }}
        <meta name="author" content="{{ . }}">
    {{ end }}

    {{ block "meta" . }}{{ end }}


    <link rel="stylesheet" href="{{"css/style.css" | relURL }}">
</head>

<body>
    <div class="wrapper">
        {{ partial "header" . }}
        {{ block "main" . }}{{ end }}
    </div>
    {{ partial "footer" . }}
</body>

</html>
