<footer>
  <div class="container">
    <div class="grid grid-footer">
      {{ with .Site.Menus.main }}
      <ul class="footer-links">
        {{ range . }}
        <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>

      <ul class="footer-links">
        <li><a href="https://kentik.com/careers">Careers</a></li>
      </ul>

      {{ end }} {{ partial "social" . }}
    </div>

    <div class="copyright text-center">
      <p>Copyright &copy; {{ now.Year }} Kentik Labs. All rights reserved.</p>
      <p>
        Open-source network observability projects from the team at
        <a href="https://www.kentik.com">Kentik</a>.
      </p>
    </div>
  </div>
</footer>
